.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user__name {
    white-space: nowrap;
}

.user__photo {
    width: 40px;
    height: auto;
    margin: 0 20px;

    border-radius: 50%;
}

.user__logout {
    white-space: nowrap;
}
