.user {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.user__name {
    margin-right: 20px;
    white-space: nowrap;
}

.user__photo {
    width: 40px;
    height: auto;

    border-radius: 50%;
}
