:root {
  --white: #FFF;
  --black: #000;
  --violet--haiti: #242331;
  --brown--deep-bronze: #533E2D;
  --brown--deep-bronze--transparent: rgba(83, 62, 45, 0.9);
  --orange--mai-tai: #A27035;
  --yellow--tussock: #B88B4A;
  --yellow--tussock--transparent: rgba(184, 139, 74, 0.3);
  --yellow--sandwisp: #DDCA7D;
  --yellow--sandwisp--transparent: rgba(221, 202, 125, 0.3);
  --red: #D32F2F;
}
