@import "./reset.css";
@import "./colors.css";
@import "font-awesome-4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Raleway|Open+Sans:300";

html,
body,
#root,
.app,
.content {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', sans-serif;

  background-color: var(--white);
}

a, a:visited {
  position: relative;
  color: var(--yellow--sandwisp);
  text-decoration: none;

  transition: 0.2s all ease-in;
}

a:after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';

  width: 100%;
  height: 2px;
  opacity: 0;

  background-color: var(--yellow--tussock);
  transition: 0.2s all ease-out;
}

a:hover, a.active {
  color: var(--yellow--tussock);
}

a:active {
  color: var(--orange--mai-tai);
}

a.active:after {
  bottom: -4px;
  opacity: 1;
}

input {
  border-bottom: 1px solid var(--brown--deep-bronze--transparent);
  font-size: 20px;
  color: var(--brown--deep-bronze);
}

input:focus {
  border-bottom-color: var(--brown--deep-bronze);
}

input::-webkit-input-placeholder {
  color: var(--yellow--tussock--transparent)
}

button {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  padding: 10px 40px;
  color: var(--brown--deep-bronze);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--brown--deep-bronze--transparent);
  transition: 0.3s all linear;
}

button:hover {
  border-color: var(--brown--deep-bronze);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 12px;
}
