.registration__page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
}

.registration__header {
    margin-bottom: 40px;
}

.registration__input {
    width: 500px;
    margin-bottom: 30px;
}
